<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<div data-controller="hello">
  <h1 data-hello-target="init"></h1>
  <input type="text" data-hello-target="name">
  <button data-action="click->hello#greet">Greet</button>
  <span data-hello-target="output"></span>
</div>