@charset "utf-8";

@import '../base/variable';

@each $key, $value in $flash-colors {
  .flash-#{$key} {
    color: $white;
    background: $value;
  }
}

.flash {
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);

  .icon-box {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }

  .messages-box {
    flex: 1;
  }

  .messages {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .message {
    font-weight: 700;
    font-size: 14px;
  }
}
