<% if flash.any? %>
  <% flash.each do |message_type, message| %>
    <div class="flash flash-<%= message_type %>">
      <div class="icon-box">
        <%= render 'shared/icon', icon_type: message_type %>
      </div>
      <div class="messages-box">
        <span class="message">
          <% if message.instance_of?(Array) %>
            <%= message.join(', ') %>
          <% else %>
            <%= message %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>