<% if flash.any? %>
  <% flash.each do |message_type, messages| %>
    <div class="flash flash-<%= message_type %>">
      <div class="icon-box">
        <%= render 'shared/icon', icon_type: message_type %>
      </div>
      <div class="messages-box">
        <% if message_type == 'danger' %>
          <span class="message">
            <%= messages.join(', ') %>
          </span>
        <% else %>
          <span class="message"><%= messages %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>